
Conversation opened. 1 unread message.

Skip to content
Using Gmail with screen readers
1 of 14,923
(no subject)
Inbox

Gavin Raney <graney07@gmail.com>
2:12 PM (10 minutes ago)
to me

<!--add enneagrams and our gh profiles-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WWE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                  <li class="nav-item"> 
                    <a class="nav-link" href="#"><b> Find Our Devs on Github: </a></b> <!--maybe add link to our enneagrams or something like that-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/peytonjunjulas">Peyton</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/gavinraney">Gavin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/kobyingram11">Koby</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/ColinTate24">Collin</a>
                  </li>
                </ul>
              </div>
        </nav>

        <div class="header">
            <h1>Who are we?</h1>
        </div>

        
        <h2>Our Enneagram Results</h2>
        <br>
        <ul>
            <li>Peyton: Type 3 "The Achiever"</li>
            <ul>
              <li>Success-oriented and driven, adaptable, pragmatic</li>
              <li>Type 3s are very ambitious, high-achievers who are well equipped to be figure-heads and leaders in their communities.</li>
              <li>Strong focus on work and perfection</li>
              <li>Are generally well regarded and well liked</li> 
            </ul>
            <br>
            <li>Gavin: Type 6w7 "The Buddy"</li>
            <ul>
              <li>Committed, responsible, anxious and security-oriented</li>
              <li>6w7s are dependent on strong leaders, they heavily focus on trust and honesty, and seek out a shared vision. </li>
              <li>Need constructive criticism and are loyal to a fault</li>
              <li>They often enjoy the company of and working with others </li> 
            </ul>
            <br>
            <li>Colin: Type 7w8 "The Realist"</li>
            <ul>
              <li>Spontaneous, acquisitive, scattered, versatile</li>
              <li>7w8s are great in conversation, good planners, and are very optimistic.</li>
              <li>Value a happy and peaceful work environment</li>
              <li>Love to achieve goals as a group</li> 
            </ul>
            <br>
            <li>Koby: Type 5 "The Investigator"</li>
            <ul>
              <li>Cerebral, perceptive, isolated, intense</li>
              <li>Type 5 personalities value routines, are often deep thinkers, and often prefer to work as individuals. </li> 
              <li>They are highly efficient and independent individuals </li>
              <li>Well equipped to keep cool in high stress environments and are very industrious in groups</li>
            </ul>   
        </ul>

        <hr>

        <h2>How our Types Work Together</h2>
        <br>
        <p>Despite having drastically different enneagram results, we worked very cohesively with a clearly defined leader. <br>
        We were all very much involved in the design and process in building our app but Peyton was undoubtedly an outstanding <br>
        leader to us. While we all shared ideas and worked together well, each of us had our own defined roles <br>
        and visions for our product. We worked with our own individual efforts and collaborating at any chance we could <br>
        often looking for suggestions and ideas from others in the group. Each of our personality types were capable of <br>
        working alone. However, I do feel that we worked to bring the best out of each other in this work setting.</p>

        <br>
        <br>
        <br>
        <br>

        <div class = "footer">
            <h4>Links || <a href="https://github.com/gavinraney/effective-pancake" target="_blank"> Repo</a> || <a href="https://github.com/users/gavinraney/projects/1" target="_blank"> Backlog</a> || <a href="/aboutus" target="_blank"> About Us</a> </h4>
        </div>
        </body>
        </html>

