<!--add enneagrams and our gh profiles-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WWE</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                  <li class="nav-item"> 
                    <a class="nav-link" href="#"><b> Find Our Devs on Github: </a></b> <!--maybe add link to our enneagrams or something like that-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/peytonjunjulas">Peyton</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/gavinraney">Gavin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/kobyingram11">Koby</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/ColinTate24">Colin</a>
                  </li>
                </ul>
              </div>
        </nav>

        <div class="header">
            <h1>Who are we?</h1>
        </div>

        <h2>Our Enneagram Results</h2>
        <ul>
            <li>Peyton: Type 3 "The Achiever"</li>
            <ul>
              <li>Success-oriented and driven, adaptable, pragmatic</li>
              <li>Type 3s are </li> 
            </ul>
            <li>Gavin: Type 6w7 "The Buddy"</li>
            <ul>
              <li>Committed, responsible, anxious and security-oriented</li>
              <li>6w7s </li> 
            </ul>
            <li>Colin: Type 7w8 "The Realist"</li>
            <ul>
              <li>Spontaneous, acquisitive, scattered, versatile</li>
              <li>7w8s </li> 
            </ul>
            <li>Koby: Type 5 "The Investigator"</li>
            <ul>
              <li>Cerebral, perceptive, isolated, intense</li>
              <li>Type 5 personalities </li> 
            </ul>   
        </ul>

        <hr>

        <h2>How our Types Work Together</h2>

        <!--ADD INFO HERE AND ON EACH UL-->>
        <div class = "footer">
            <h4>Links || <a href="https://github.com/gavinraney/effective-pancake" target="_blank"> Repo</a> || <a href="https://github.com/users/gavinraney/projects/1" target="_blank"> Backlog</a> || <a href="/aboutus" target="_blank"> About Us</a> </h4>
        </div>
        </body>
        </html>
