<!-- header include -->
<%- include('include/header')%>
<!-- /header include -->
<br />
<div class="container">

  <div class="grid-container-1">
    <div class="grid-item">
      <button class="button" id = "beef"> Beef </button>
    </div>
    <div class="grid-item">
      <button class="button" id = "chicken"> Chicken </button>
    </div>
    <div class="grid-item">
      <button class="button" id="pork"> Pork </button>
    </div>  
  </div>

  <div class="grid-container-2">
    <div class="grid-item">
      <button class="button" id="mexican">Mexican</button>
    </div>
    <div class="grid-item">
      <button class="button" id="italian">Italian</button>
    </div>
    <div class="grid-item">
      <button class="button" id="american">American</button>
    </div>  
    <div class="grid-item">
      <button class="button" id="asian">Asian</button>
    </div>
  </div>

  <div class="grid-container-1">
    <div class="grid-item">
      <button class="button" id="1dollar">$</button>
    </div>
    <div class="grid-item">
      <button class="button" id="2dollar">$$</button>
    </div>
    <div class="grid-item">
      <button class="button" id="3dollar">$$$</button>
    </div>
  </div>

  <div class="grid-container-2">
    <div class="grid-item">
      <button class="button" id="1m"> within 1 mile</button>
    </div>
    <div class="grid-item"> 
      <button class="button" id="3m"> less than 3 miles</button>
    </div>
    <div class="grid-item">
      <button class="button" id="5m"> less than 5 miles</button>
    </div>  
    <div class="grid-item">
      <button class="button" id="10m"> less than 10 miles </button>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <div class="grid-container-3">
    <button class="button" onclick="window.location.href='/show_food';">EAT!!!</button>
  </div>
</div>
<!-- footer include -->
<%- include('include/footer')%>
<!-- /footer include -->
