<!-- header include -->
<%- include('include/header')%>
<!-- /header include -->
<br/>
<div class="container">

  <div class="grid-container-1">
    <div class="grid-item">
<div ontouchstart="">
  <div class="button" id = "beef">
    <a href="#">BEEF</a>
  </div>
</div>
      
 <div class="grid-item">
     <div ontouchstart="">
  <div class="button" id = "chicken">
    <a href="#">CHICKEN</a>
       </div>
       
    <div class="grid-item">
       <div ontouchstart="">
  <div class="button" id = "pork">
    <a href="#">PORK</a>
    <div class="grid-item">
  </div>
    </div>  
  </div>
         </div>
    
  <div class="grid-container-2">
    <div class="grid-item">
      <div ontouchstart="">
  <div class="button" id = "mexican">
    <a href="#">MEXICAN</a>
  </div>
</div>
    </div>
    <div class="grid-item">
      <div ontouchstart="">
      <div class="button" id = "italian">
    <a href="#">ITALIAN</a>
    <div class="grid-item">
        </div>
        </div>
        
         <div ontouchstart="">
      <div class="button" id = "american">
    <a href="#">AMERICAN</a>
    <div class="grid-item">
        </div>
        </div>
    </div>  
        </div>
    <div class="grid-item">
             <div ontouchstart="">
      <div class="button" id = "asian">
    <a href="#">ASIAN</a>
    <div class="grid-item">
        </div>
        </div>

  <div class="grid-container-1">
    <div class="grid-item">
               <div ontouchstart="">
      <div class="button" id = "1dollar">
    <a href="#">$</a>
    <div class="grid-item">
        </div>
        </div>
    <div class="grid-item">
       <div ontouchstart="">
      <div class="button" id = "2dollar">
    <a href="#">$$</a>
    <div class="grid-item">
        </div>
        </div>
    <div class="grid-item">
      <div ontouchstart="">
      <div class="button" id = "3dollar">
    <a href="#">$$$</a>
    <div class="grid-item">
        </div>
        </div>

  <div class="grid-container-2">
    <div class="grid-item">
       <div ontouchstart="">
      <div class="button" id = "1m">
    <a href="#">1 mile or less away!</a>
    <div class="grid-item">
        </div>
        </div>
    <div class="grid-item"> 
     <div ontouchstart="">
      <div class="button" id = "3m">
    <a href="#">3 miles or less away!</a>
    <div class="grid-item">
        </div>
        </div>
    <div class="grid-item">
      <div ontouchstart="">
      <div class="button" id = "5m">
    <a href="#">5 miles or less away!</a>
    <div class="grid-item">
        </div>
    </div>  
        </div>
        </div>
    <div class="grid-item">   <div ontouchstart="">
      <div class="button" id = "10m">
    <a href="#">10 miles or less away!</a>
    <div class="grid-item">
        </div>
        </div>
    </div>
  </div>
</div>

<br/>

<div ontouchstart="">
  <div class="button">
<a href="window.location.href='/show_food';">WWE!?!?</a>
<div class="grid-item">
    </div>
    </div>

<br/>
    

<!-- footer include -->
<%- include('include/footer')%>
<!-- /footer include -->
