<!-- header include -->
<%- include('include/header')%>
<!-- /header include -->
<br />
<div class="container">
  <div class="vertical-center">
    <h3>Find a place to eat near you!</h3>
    <button class="button" onclick="window.location.href='/questions';">
      EAT!!!
    </button>
  </div>

  <br />

  <div class="vertical-center">
    <h3>See Restaurant Picked for you!</h3>
    <button class="button" onclick="window.location.href='/show_food';">
      Restaurant
    </button>
  </div>
</div>
<!-- footer include -->
<%- include('include/footer')%>
<!-- /footer include -->
