


<!-- header include -->
<%- include('include/header')%>
<!-- /header include -->

<h1> This is where Restaurant picked for user will be, if one not picked yet, go to /questions </h1>
<h1> Also shows a list of available restaurants</h1>


<div ontouchstart="">
    <div class="button">
  <a href="window.location.href='/';">HOME</a>
  <div class="grid-item">
      </div>
      </div>
      
<!-- footer include -->
<%- include('include/footer')%>
<!-- /footer include -->
