


<!-- header include -->
<%- include('include/header')%>
<!-- /header include -->

<h1> This is where Restaurant picked for user will be, if one not picked yet, go to /questions </h1>
<h1> Also shows a list of available restaurants</h1>


<button class="button" onclick="window.location.href='/';"> Home</button>

<!-- footer include -->
<%- include('include/footer')%>
<!-- /footer include -->
