
<footer class="footer-distributed">

    <div class="footer-right">

        
        <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a class="link-1" href="https://github.com/gavinraney/effective-pancake">Repo</a>

            <a href="#">Backlog</a>

            <a href="/aboutus">About</a>

            <a href="https://github.com/users/gavinraney/projects/1">Links</a>
        </p>

        <p>CIS 486 Final Product</p>
    </div>

</footer>

<script src="/js/index.js"></script>
