
<div class = "footer">
    <h2>Links || <a href="https://github.com/gavinraney/effective-pancake" target="blank"> Repo</a> || <a href="https://github.com/users/gavinraney/projects/1" target="blank"> Backlog</a></h2>
</div>
</body>
</html>