
<div class = "footer">
    <h4>Links || <a href="https://github.com/gavinraney/effective-pancake" target="_blank"> Repo</a> || <a href="https://github.com/users/gavinraney/projects/1" target="_blank"> Backlog</a> || <a href="/aboutus" target="_blank"> About Us</a> </h4>
</div>
<script src="/js/index.js"></script>
</body>
</html>